body{
    background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: darkblue;
box-sizing: border-box;

}

ul{
    list-style: none;
}

.hobbies {
    background-color:rgba(255,255,255, 0.3);
    padding: 20px;
    margin: 50px;
    border-radius: 20px;
}

img{
    width: 300px;
}